<div class="corp-card">
    <span (click)="rerollJob()" class="card-title clickable">
      you are 
      @if (job.name === 'engineer') {
        an
      } @else {
        a
      }
      {{job.name}}!
    </span>
    <span class="card-body">
        <em [innerHTML]="job.descrip"></em>
        @if (job.extra && job.extra.length > 0) {
            <span class="skill-group extras">
                @for (extra of job.extra; track $index) {
                    <span [innerHTML]="extra"></span>
                }
            </span>
        }
        <span class="skill-group">
            @if (job.first_skill.length === 1) {
                <span [innerHTML]="job.skill_descrips[0]" class="non-clickable"></span>
            } @else {
                <span [innerHTML]="job.skill_descrips[0]" (click)="rerollFirstSkills()" class="clickable"></span>
            }
            @if (getExtraStartSkill) {
                <ul>
                    <li>
                        <div (click)="rerollFirstExtraSkill(true)" [innerHTML]="firstSkillObj.descrip"></div>
                    </li>
                    <li>
                        <div (click)="rerollFirstExtraSkill(false)" [innerHTML]="extraSkillObj.descrip"></div>
                    </li>
                </ul>
            } @else {
                <div class="single-skill" [innerHTML]="firstSkillObj.descrip"></div>
            }
        </span>
        @if (job.second_skill.length > 0) {
            <span class="skill-group">
                @if (showAllSkills) {
                    <span [innerHTML]="job.skill_descrips[1]" class="non-clickable"></span>
                    <span class="skill-list">
                        <ol>
                            @for (skill of job.second_skill; track $index) {
                                <li>
                                    <span [innerHTML]="skill"></span>
                                </li>
                            }
                        </ol>
                    </span>
                } @else {
                    <span (click)="newSecondSkill()" class="clickable" [innerHTML]="job.skill_descrips[1]"></span>
                    <div class="single-skill" [innerHTML]="secondSkillObj.descrip"></div>
                }
            </span>
        }
    </span>
</div>
