<div class="corp-card">
    <span (click)="rerollAll()" class="card-title clickable">
      your welcome pack is here!
    </span>
    <span class="card-body">
        <ul>
            <li>
                <div class="equip-layout">
                    <span><span (click)="rerollWeapon()" class="clickable">{{weaponObj.name | titlecase}}</span>,</span> <span [innerHTML]="weaponObj.descrip"></span>
                </div>
            </li>
            <li>
                <div class="equip-layout">
                    <span><span (click)="rerollArmor()" class="clickable">{{armorObj.name | titlecase}}</span>,</span> <span [innerHTML]="armorObj.descrip"></span>
                </div>
            </li>
            <li>
                <div class="equip-layout">
                    <span><span (click)="rerollBags()" class="clickable">{{bagsObj.name | titlecase}}</span>
                    @if (bagsObj.descrip) {
                        ,
                    }
                    </span> <span [innerHTML]="bagsObj.descrip"></span>
                </div>
            </li>
            <li>
                <span [innerHTML]="essentialsObj.descrip" (click)="rerollEssentials()"></span>
            </li>

            @if (specialObj.descrip) {
                <li>
                    <span [innerHTML]="specialObj.descrip" (click)="rerollSpecials()"></span>
                </li>
            }
            @if (incantObj && incantObj[0].descrip) {
                @for (incant of incantObj; track $index) {
                    <li>
                        <div class="equip-layout">
                            @if ($index === 0) {
                                <span (click)="rerollSpecials()" class="clickable">{{incant.name}}</span>
                            } @else {
                                <span (click)="rerollIncantations()" class="clickable">{{incant.name}}</span>
                            }
                            <span [innerHTML]="incant.descrip"></span>
                        </div>
                    </li>
                }
            }
        </ul>
    </span>
</div>