<div class="corp-card">
    <span (click)="rerollAll()" class="card-title clickable">
      your welcome pack is here!
    </span>
    <span class="card-body">
        <ul>
            <li>
                <div>
                    <span (click)="rerollWeapon(job.name === 'designer')" class="clickable">{{weaponObj.name | titlecase}}</span>
                    @if (weaponObj.descrip) {
                        ,
                    }
                     <span [innerHTML]="weaponObj.descrip"></span>
                </div>
            </li>
            <li>
                <div>
                    <span><span (click)="rerollArmor(job.name === 'designer')" class="clickable">{{armorObj.name | titlecase}}</span>,</span> <span [innerHTML]="armorObj.descrip"></span>
                </div>
            </li>
            <li>
                <div>
                    <span><span (click)="rerollBags()" class="clickable">{{bagsObj.name | titlecase}}</span>
                    @if (bagsObj.descrip) {
                        ,
                    }
                    </span> <span [innerHTML]="bagsObj.descrip"></span>
                </div>
            </li>
            <li>
                <span [innerHTML]="essentialsObj.descrip" (click)="rerollEssentials()"></span>
            </li>

            @if (specialObj.descrip) {
                <li>
                    <span [innerHTML]="specialObj.descrip" (click)="rerollSpecials()"></span>
                </li>
            }
        </ul>
        @if (incantObj && incantObj.length > 0) {
            <div class="incant-layout">
                <div class="title-section">
                    <span class="incant-title">Incantations.</span>
                    <span class="title-descrip"> you can use <strong> Knowledge + d3</strong> a day. Test <strong>Knowledge DR12</strong> to invoke them, take <strong>d2 damage if failed</strong>. Natural 1 triggers a random <strong>Fuckup</strong>.</span>
                </div>
                <ul>
                    @for (incant of incantObj; track $index) {
                        <li>
                            <div>
                                @if (incant.isSpecial) {
                                    <span (click)="removeIncantation($index, true)" class="clickable">{{incant.name}}</span>
                                } @else {
                                    <span (click)="rerollIncantations(false, $index)" class="clickable">{{incant.name}}</span>
                                }
                                <span [innerHTML]="incant.descrip"></span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
        @if (ritualObj && ritualObj.length > 0) {
            <div class="incant-layout ritual">
                <div class="title-section">
                    <span class="incant-title">Rituals.</span>
                    <span class="title-descrip"> to perform you'll need <strong> INGREDIENTS</strong>, <em> conditions and, (time)</em>.</span>
                </div>
                <ul>
                    @for (ritual of ritualObj; track $index) {
                        <li>
                            <div>
                                <span (click)="rerollRituals($index)" class="clickable">{{ritual.name}}</span>
                                <span [innerHTML]="ritual.descrip"></span>
                                <div>
                                    <strong>{{ritual.ingredients | uppercase}}</strong>
                                </div>
                                <div>
                                    <em>{{ritual.condition}}</em>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </span>
</div>
