<span class="corp-layout" [ngClass]="currTheme">
  <header>
    <h1 class="cats-font">
      NEW_HIRE.XLS
      <span class="blink"></span>
    </h1>
    <em>a <span class="strike">sacrafice</span> corporat generator for CORP <span class="danger-font">BORG</span></em>
  </header>
  <div class="toolbar">
      <div (click)="rerollAll()" class="clickable">
        <strong>N</strong>ew Hire
      </div>
      <div (click)="print()" class="clickable">
        <strong>P</strong>rint
      </div>
      <div (click)="shuffleTheme()" class="clickable">
        <strong>S</strong>huffle Theme
      </div>
  </div>
  <section class="corp-body">
    <div class="body-layout">
      <app-resume [job]="jobObj" class="resume"></app-resume>
      <app-identity [reroll]="triggerReroll"></app-identity>
      <app-job
        (emitIncantOrRitual)="getIncantOrRitual($event)"
        (getNewJob)="getJob()"
        [job]="jobObj">
      </app-job>
      <app-equipment
        [getIncantOrRitual]="hasIncantOrRitual"
        [job]="jobObj"
        class="equipment">
      </app-equipment>
    </div>
  </section>
  <footer>
    <div>
      CORP BORG is an independent production by Paweł Kicman/Heltung
      Storytelling and is not affiliated with Ockult Örtmästare Games
      or Stockholm Kartell. It is published under the MÖRK BORG Third
      Party License. Web app by codeLiches.
    </div>
    <div>MÖRK BORG is copyright Ockult Örtmästare Games and Stockholm Kartell.</div>
    <div><em>v0.9: Welcome to the company!</em></div>
  </footer>
</span>