<span class="corp-layout" [ngClass]="currTheme">
  <header>
    <h1 class="cats-font">NEW_HIRE.XLS</h1>
    <em>a corporate <span class="strike">sacrafice</span> drone generator for CORP <span class="danger-font">BORG</span></em>
  </header>
  <div class="toolbar">
      <div class="clickable">
        <strong>N</strong>ew Hire
      </div>
      <div class="clickable">
        <strong>P</strong>rint
      </div>
      <div (click)="shuffleTheme()" class="clickable">
        <strong>S</strong>huffle Theme
      </div>
  </div>
  <section class="corp-body">
    <div class="body-layout">
      <div class="corp-card bio-card">
        <span class="card-title clickable">
          employee_resume
        </span>
        <span class="card-body bio">
            <span class="bio-layout">
              <span class="info-row">
                <strong class="clickable">SOFT SKILLS</strong>
                <span>&#177; 0</span>
              </span>
              <span class="info-row">
                <strong class="clickable">HARD SKILLS</strong>
                <span>&#177; 0</span>
              </span>
              <span class="info-row">
                <strong class="clickable">FLEXIBILITY</strong>
                <span>&#177;0</span>
              </span>
              <span class="info-row">
                <strong class="clickable">INTEGRITY</strong>
                <span>&#177; 0</span>
              </span>
              <span class="info-row">
                <strong class="clickable">KNOWLEDGE</strong>
                <span>&#177; 0</span>
              </span>
            </span>

            <span class="hp-undo-section">
              <span class="info-row">
                <strong class="clickable">HP</strong>
                <span>5/5</span>
              </span>
              <span class="info-row">
                <strong class="clickable">UNDO</strong>
                <span>2(D2)</span>
              </span>
            </span>
          </span>
      </div>
      
      <div class="corp-card">
        <span class="card-title clickable">
          welcome corpo!
        </span>
        <span class="card-body">
          Lorem ipsum odor amet, consectetuer adipiscing elit. Diam maximus habitasse a convallis eu cras adipiscing magna. Augue vitae vivamus volutpat, facilisi dis interdum varius at. Mollis amet volutpat ornare ut sed arcu. Vitae sem tellus nibh accumsan ligula inceptos venenatis. Ante sed ex ad pharetra enim lobortis potenti. Fames augue duis potenti luctus pretium ut. Bibendum leo consectetur taciti volutpat iaculis sapien rhoncus ut integer.
        </span>
      </div>

      <div class="corp-card">
        <span class="card-title clickable">
          you are a wage slave!
        </span>
        <span class="card-body">
          Lorem ipsum odor amet, consectetuer adipiscing elit. Imperdiet imperdiet fermentum leo inceptos mus ornare. Dis suscipit suspendisse nulla ultricies eleifend nunc ex scelerisque dis. Libero erat mus luctus nascetur quisque dolor placerat. Habitasse torquent erat curabitur libero netus risus torquent. Feugiat venenatis curabitur rhoncus justo facilisi semper vulputate. Dapibus sociosqu finibus eu, inceptos enim tristique. Pulvinar cursus dolor nascetur eu pretium curabitur. Imperdiet varius penatibus suscipit curabitur nascetur feugiat tortor.

          Senectus nascetur vehicula mollis sed viverra euismod magna senectus. Curabitur torquent sociosqu aliquam; sociosqu duis senectus semper iaculis. Curabitur molestie porta aliquet placerat risus condimentum. Platea finibus finibus mi mus imperdiet augue. Pellentesque adipiscing conubia magna imperdiet fringilla ultrices massa primis nulla? Dapibus porta hac iaculis aptent justo nullam. Platea ante mollis felis ligula pellentesque.
        </span>
      </div>

      <div class="corp-card">
        <span class="card-title clickable">
          office-issued equipment
        </span>
        <span class="card-body">
          Lorem ipsum odor amet, consectetuer adipiscing elit. Imperdiet imperdiet fermentum leo inceptos mus ornare. Dis suscipit suspendisse nulla ultricies eleifend nunc ex scelerisque dis. Libero erat mus luctus nascetur quisque dolor placerat. Habitasse torquent erat curabitur libero netus risus torquent. Feugiat venenatis curabitur rhoncus justo facilisi semper vulputate. Dapibus sociosqu finibus eu, inceptos enim tristique. Pulvinar cursus dolor nascetur eu pretium curabitur. Imperdiet varius penatibus suscipit curabitur nascetur feugiat tortor.

          Senectus nascetur vehicula mollis sed viverra euismod magna senectus. Curabitur torquent sociosqu aliquam; sociosqu duis senectus semper iaculis. Curabitur molestie porta aliquet placerat risus condimentum. Platea finibus finibus mi mus imperdiet augue. Pellentesque adipiscing conubia magna imperdiet fringilla ultrices massa primis nulla? Dapibus porta hac iaculis aptent justo nullam. Platea ante mollis felis ligula pellentesque.
        </span>
      </div>

      <div class="corp-card">
        <span class="card-title clickable">
          hr-approved incantations
        </span>
        <span class="card-body">
          Lorem ipsum odor amet, consectetuer adipiscing elit. Imperdiet imperdiet fermentum leo inceptos mus ornare. Dis suscipit suspendisse nulla ultricies eleifend nunc ex scelerisque dis. Libero erat mus luctus nascetur quisque dolor placerat. Habitasse torquent erat curabitur libero netus risus torquent. Feugiat venenatis curabitur rhoncus justo facilisi semper vulputate. Dapibus sociosqu finibus eu, inceptos enim tristique. Pulvinar cursus dolor nascetur eu pretium curabitur. Imperdiet varius penatibus suscipit curabitur nascetur feugiat tortor.

          Senectus nascetur vehicula mollis sed viverra euismod magna senectus. Curabitur torquent sociosqu aliquam; sociosqu duis senectus semper iaculis. Curabitur molestie porta aliquet placerat risus condimentum. Platea finibus finibus mi mus imperdiet augue. Pellentesque adipiscing conubia magna imperdiet fringilla ultrices massa primis nulla? Dapibus porta hac iaculis aptent justo nullam. Platea ante mollis felis ligula pellentesque.
        </span>
      </div>
    </div>
  </section>
</span>