<span class="corp-layout">
  <header>
    <h1 class="cats-font">NEW_HIRE.XLS</h1>
    <em>a coorporate <span class="strike">sacrafice</span> drone generator for <span class="cats-font">CORP BORG</span></em>
  </header>
  <div class="toolbar">
      <div class="clickable">
        New Hire
      </div>
  </div>
  <section class="corp-body">
    <div class="corp-card">
      <span class="card-title clickable">
        employee_biography
      </span>
      <span class="card-body bio">
        <span class="info-row">
          <strong>NAME</strong>
          <span>Corpo</span>
        </span>

        <span class="info-row">
          <strong>CLASS</strong>
          <span>Wage Slave</span>
        </span>

        <span class="info-row">
          <strong>HP</strong>
          <span>5/5</span>
        </span>

        <span class="info-row">
          <strong>OMENS</strong>
          <span>2(D2)</span>
        </span>
      </span>
    </div>
  </section>
</span>