<div class="corp-card bio-card">
    <span class="card-title clickable">
      employee_resume
    </span>
    <span class="card-body bio">
        <span class="bio-layout">
          <span class="info-row">
            <strong class="clickable">SOFT SKILLS</strong>
            <span>&#177; 0</span>
          </span>
          <span class="info-row">
            <strong class="clickable">HARD SKILLS</strong>
            <span>&#177; 0</span>
          </span>
          <span class="info-row">
            <strong class="clickable">FLEXIBILITY</strong>
            <span>&#177;0</span>
          </span>
          <span class="info-row">
            <strong class="clickable">INTEGRITY</strong>
            <span>&#177; 0</span>
          </span>
          <span class="info-row">
            <strong class="clickable">KNOWLEDGE</strong>
            <span>&#177; 0</span>
          </span>
        </span>

        <span class="hp-undo-section">
          <span class="info-row">
            <strong class="clickable">HP</strong>
            <span>5/5</span>
          </span>
          <span class="info-row">
            <strong class="clickable">UNDO</strong>
            <span>2(D2)</span>
          </span>
          <span class="info-row">
            <strong class="clickable">$AVINGS</strong>
            <span>666 ¤</span>
          </span>
        </span>
      </span>
  </div>
  