<div class="corp-card bio-card">
    <span (click)="rerollResume()" class="card-title clickable">
      employee_resume
    </span>
    <span class="card-body bio">
        <span class="bio-layout">
          @for (trait of traitsArray; track trait.name) {
            <span class="info-row">
              <strong (click)="rerollTrait(trait.name)" class="clickable">{{trait.name | uppercase}}</strong>
              <span>
                @if (trait.value === 0) {
                  &#177;
                }
                {{trait.value}}
              </span>
            </span>
          }
        </span>
        <span class="hp-undo-section">
          @for (stat of statsArray; track stat.name) {
            <span class="info-row">
              <strong (click)="rerollStats(stat.name)" class="clickable">{{stat.name | uppercase}}</strong>
              <span>
                @if (stat.name === 'hp') {
                  {{stat.value}} / {{stat.value}}
                } @else if (stat.name === '$avings') {
                  {{stat.value}} ¤
                } @else if (stat.name === 'undos') {
                  {{stat.value}} (d{{stat.dieSize}})
                }
              </span>
            </span>
          }
        </span>
      </span>
  </div>
  