$black: #010203;
$pink: #FF3EB5;
$yellow: #FFE900;
$white: white;
$off-white: #FAF9F6;
$green: #009900;
$background-color: darken($off-white, 10%);

$large: 3rem;
$med: 1.3rem;
$standard: 1rem;
$small-space: 0.5rem;

$excel-border: lighten(black, 70%);
$lighter-lines: lighten($excel-border, 20%);
$index-lines: 1px dotted lighten(blue, 30%);

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@font-face {
    font-family: "Alegreya";
    src: local("Alegreya"), url(./app/assets/fonts/Alegreya.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "CallingCode";
    src: local("CallingCode"), url(./app/assets/fonts/CallingCode.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "CATS";
    src: local("CATS"), url(./app/assets/fonts/CATS.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "RobotoMono";
    src: local("RobotoMono"), url(./app/assets/fonts/RobotoMono.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Another_Danger";
    src: local("Another_Danger"), url(./app/assets/fonts/Another_Danger.ttf) format('opentype');
    font-weight: 100 1000;
}

@keyframes move-background {
    from {
        background-position: 0 0;
    } to {
        background-position: 50% 100%;
    }
}

// @keyframes scroll-left-to-right {
//     from {
//         transform: translateX(-100%);
//     } to {
//         transform: translateX(0);
//     }
// }

// @keyframes scroll-right-to-left {
//     from {
//         transform: translateX(0%);
//     } to {
//         transform: translateX(-100%);
//     }
// }

.cats-font {
    font-family: "CATS";
}

.strike {
    text-decoration: line-through;
}

.danger-font {
    font-family: 'Another_Danger';
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: $white;
    font-family: "Alegreya";
    color: $black;
    line-height: 1.4;
    font-size: 16px;
}

.clickable {
    width: max-content;
    padding: 0 1rem;
    font-family: "RobotoMono";
    cursor: pointer;
    user-select: none;
    &:hover {
        font-weight: bold;
        transition: all .05s ease-in-out !important;
        transform: scale(1.1) rotate(2deg) !important;
        background-color: $pink !important;
        color: $black !important;
    }
    &:active {
        transform: scale(1) !important;
    }
}

.corp-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "header"
        "body";
    width: 100%;
    height: 100%;
    place-content: start;

    header {
        grid-area: header;
        background-color: $green;
        color: $off-white;
        padding: $small-space 0;
        text-align: center;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "detail";
        h1 {
            width: min-content;
            place-self: center;
            z-index: 2;
            grid-area: title;
            font-size: 2rem;
            margin: 0;
            padding: 0;
            letter-spacing: 5px;
        }
        em {
            z-index: 2;
            grid-area: detail;
            font-size: 0.8rem;
        }
    }
    .toolbar {
        background-color: $green;
        padding: 0 1rem;
        display: flex;
        .clickable {
            background-color: $background-color;
            &:not(:first-of-type) {
                box-shadow: inset 2px 0px 3px $excel-border;
                &:hover {
                    box-shadow: unset;
                }
            }
        }
    }
    .corp-body {
        border: thick solid $green;
        border-top: none;
        background-color: $background-color;
        background-position: 0px 0px;
        background-image:
            linear-gradient(to right, $excel-border 1px, transparent 1px),
            linear-gradient($excel-border 1px, transparent 1px);
        background-size: calc(100vw/3) calc(100vh/30);
        animation: move-background 60s infinite linear;

        .body-layout {
            margin-top: $small-space;
            display: flex;
            flex-direction: column;
            gap: $standard;
            padding: 0 $small-space $small-space $small-space;
        }

        .corp-card {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            border: 1px solid $excel-border;
            box-shadow: $excel-border 5px 5px;
            background-color: $off-white;
            &:nth-child(odd) {
                .card-title {
                    transform: rotate(2deg);
                    &:hover {
                        transition: all .05s ease-in-out !important;
                        transform: scale(1.1) rotate(-1deg) !important;
                    }
                    &:active {
                        transform: scale(1) !important;
                    }
                }
            }
            .card-title {
                font-size: 1.2rem;
                background-color: $black;
                padding: $small-space 0;
                color: $yellow;
                place-self: center;
                transform: rotate(-1deg);
            }
            .card-body {
                padding: $small-space;
                background-image:
                linear-gradient(to right, $lighter-lines 1px, transparent 1px),
                linear-gradient($lighter-lines 1px, transparent 1px);
                background-size: calc(100vw/3) calc(100vh/30);
                .bio-layout {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }
                .hp-undo-section {
                    margin-top: $small-space;
                    display: flex;
                    justify-content: space-evenly;
                }
                .info-row {
                    .clickable {
                        background-color: $black;
                        color: $off-white;
                    }
                    display: flex;
                    flex-direction: row;
                    gap: $small-space;
                }
            }
        }
    }
}

//TABLET
@media only screen and (min-width: 768px) {
    .corp-layout {
        header {
            h1 {
                font-size: 4rem;
            }
            em {
                font-size: 1.5rem;
            }
        }
        .corp-body {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: min-content;
            grid-template-areas:
                "content";
            background-size: calc(100vw/5) calc(100vh/30);
            .body-layout {
                grid-area: content;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: min-content;
                .corp-card {
                    .card-body {
                        background-size: calc(100vw/6) calc(100vh/30);
                    }
                }
                .bio-card {
                    grid-area: 1 / span 2;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .corp-layout {
        .corp-body {
            animation: move-background 45s infinite linear;
            grid-template-columns: 1fr 65% 1fr;
            grid-template-areas:
                ".  content .";
            .body-layout {
                padding: 0;
            }
        }
    }
}

@media (prefers-reduced-motion) {
    .corp-layout {
        .corp-body {
            animation:unset;
        }
    }
}
